@import url("../fonts/common_fonts/noto.css");
.doc-content .entry-header .entry-title {
  font-size: 36px;
  line-height: 64px;
  color: rgba(13, 19, 26, 0.82);
  padding: 5px 0 0;
  margin-bottom: 1.4rem;
  font-weight: 600;
  font-family: "Pingfang SC", "Noto Sans SC", "Microsoft Yahei UI", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "STHeiti", "WenQuanYi Micro Hei", sans-serif;
}

.entry-content :first-child {
  margin-top: 0px !important;
}

.doc-content .entry-content h1, .doc-content .entry-content h2, .doc-content .entry-content h3, .doc-content .entry-content h4, .doc-content .entry-content h5, .doc-content .entry-content h6 {
  font-weight: 600;
  font-family: "Pingfang SC", "Noto Sans SC", "Microsoft Yahei UI", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "STHeiti", "WenQuanYi Micro Hei", sans-serif;
}

.doc-content .entry-content h1, .doc-content .entry-content h2, .doc-content .entry-content h3, .doc-content .entry-content h4 {
  color: rgba(13, 19, 26, 0.82);
  letter-spacing: 1px;
}

.doc-content .entry-content h1 {
  font-size: 26px;
  margin: 3rem 0 1.4rem;
  padding: 0;
  line-height: 34px;
}

.doc-content .entry-content h2 {
  font-size: 20px;
  margin: 2rem 0 1rem;
  padding: 0;
  line-height: 28px;
}

.doc-content .entry-content h3 {
  font-size: 17px;
  margin: 2rem 0 1rem;
  padding: 0;
  line-height: 22px;
}

.doc-content .entry-content h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 2rem 0 0rem;
  padding: 0;
  line-height: 22px;
}

.doc-content .entry-content h1 + h2 {
  margin-top: 2rem;
}

.doc-content .entry-content h1 + h3 {
  margin-top: 1.8rem;
}

.doc-content .entry-content h2 + h3 {
  margin-top: 1.6rem;
}

.doc-content .entry-content h1 + p {
  margin-top: 1.4rem;
}

.doc-content .entry-content h2 + p, .doc-content .entry-content h3 + p {
  margin-top: 1.2rem;
}

.doc-content .entry-content p {
  font-size: 16px;
  line-height: 28px;
  margin: 0.6rem 0 0.6rem;
  padding: 0;
  letter-spacing: 1px;
  text-align: justify;
}

.doc-content .entry-content p:first-child {
  margin-top: 0;
}

.doc-content .entry-content strong, .doc-content .entry-content code {
  font-size: 98%;
  font-weight: normal;
  -webkit-text-stroke: 0.4px;
  -webkit-text-stroke-color: rgba(13, 19, 26, 0.76);
}

.doc-content .entry-content p, .doc-content .entry-content strong, .doc-content .entry-content code {
  color: rgba(13, 19, 26, 0.76);
}

.doc-content .entry-content hr {
  margin: 0;
  padding: 0;
  color: rgba(238, 238, 238, 0.48);
  margin: 20px 0;
  border-top: 1px solid #eeeeee;
}

.doc-content .entry-content a {
  font-size: 16px;
  color: #357bb3;
  color: #357bb3;
  text-decoration: none;
  -webkit-text-decoration-style: none;
  text-decoration-style: none;
  cursor: pointer;
}

.doc-content .entry-content a:hover {
  color: #2a6496;
  color: #2a6496;
  text-decoration: underline;
}

.doc-content .entry-content a.wordpressPdf {
  font-weight: 500;
  padding-left: 20px;
}

.doc-content .entry-content a.wordpressPdf:before {
  content: '';
  background-image: url(https://blogcdnimg.clewm.net/pics/2022/01/PDF-deep-rKDo1r.png);
  background-size: 18px 18px;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -2px;
  margin-top: 7px;
}

.doc-content .entry-content a.wordpressWord {
  font-weight: 500;
  padding-left: 20px;
}

.doc-content .entry-content a.wordpressWord:before {
  content: '';
  background-image: url(https://blogcdnimg.clewm.net/pics/2022/01/Word-deep-MKBRKa.png);
  background-size: 18px 18px;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -2px;
  margin-top: 7px;
}

.doc-content .entry-content a.wordpressExcel {
  font-weight: 500;
  padding-left: 20px;
}

.doc-content .entry-content a.wordpressExcel:before {
  content: '';
  background-image: url(https://blogcdnimg.clewm.net/pics/2022/01/EXCEL-deep-pedziD.png);
  background-size: 18px 18px;
  position: absolute;
  width: 18px;
  height: 18px;
  left: -2px;
  margin-top: 7px;
}

.doc-content .entry-content a.blocklink {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

.doc-content .entry-content ol {
  display: block;
  list-style-type: decimal;
  -webkit-margin-before: 1em;
  color: rgba(13, 19, 26, 0.76);
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
}

.doc-content .entry-content ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  color: rgba(13, 19, 26, 0.76);
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
}

.doc-content .entry-content li {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 1.2rem;
  padding: 0;
  color: rgba(13, 19, 26, 0.76);
  letter-spacing: 1px;
}

.doc-content .entry-content ul > li::before {
  position: absolute;
  content: '';
  left: -19px;
  top: 12px;
  top: calc(1em - 4px);
  background: rgba(13, 19, 26, 0.76);
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.doc-content .entry-content ol {
  margin: 16px 0;
  font-size: 16px;
}

.doc-content .entry-content ul {
  margin: 16px 0;
  font-size: 16px;
}

.doc-content .entry-content ul li {
  margin: 8px 0;
  left: 0;
}

.doc-content .entry-content ol li {
  margin: 8px 0;
  left: 0;
}

.doc-content .entry-content li + li {
  margin-top: 2px;
}

.doc-content .entry-content ol > li {
  list-style-type: decimal;
}

.doc-content .entry-content ul > li {
  list-style-type: none;
  position: relative;
}

.doc-content .entry-content ul > li > ul > li {
  list-style-type: circle;
}

.doc-content .entry-content ul > li > ul > li > ul > li {
  list-style-type: square;
}

.doc-content .entry-content ul > li p {
  margin-bottom: 0;
}

.doc-content .entry-content ol > li p {
  margin-bottom: 0;
}

.doc-content .entry-content ul > li > ul > li {
  list-style-type: circle;
}

.doc-content .entry-content ul > li > ul > li > ul > li {
  list-style-type: square;
}

.doc-content .entry-content code {
  font-size: 98%;
  background: none;
  padding: 0;
  margin: 0;
  font-family: "Pingfang SC", "Noto Sans SC", "Microsoft Yahei UI", "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "STHeiti", "WenQuanYi Micro Hei", sans-serif;
}

.doc-content .entry-content tt {
  border-radius: 6px;
  font-size: 96%;
  background: #f9f9f9;
  display: inline;
  vertical-align: bottom;
  line-height: 26px;
}

.doc-content .entry-content table {
  font-size: 16px;
  margin: 20px 0px;
}

.doc-content .entry-content table th {
  background: #DBEEF3;
  font-weight: 500;
  line-height: 2;
}

.doc-content .entry-content code, .doc-content .entry-content tt {
  color: rgba(13, 19, 26, 0.76);
}

.doc-content .entry-content table {
  color: rgba(13, 19, 26, 0.76);
}

.doc-content .entry-content table > strong, .doc-content .entry-content table th {
  color: rgba(13, 19, 26, 0.76);
}

.doc-content .entry-content img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  -webkit-transition: .5s;
  transition: .5s;
}

.doc-content .entry-content img:hover {
  cursor: -webkit-zoom-in !important;
  cursor: zoom-in !important;
}

.doc-content .entry-content img.noshadow {
  border: none !important;
}

.doc-content .entry-content img .doublepic {
  max-width: calc(50% - 15px) !important;
  margin-right: 15px;
}

.doc-content .entry-content p.img_p + h3, .doc-content .entry-content p.img_p + h4 {
  margin-top: 2.5rem;
}

.doc-content .entry-content video {
  border: none;
  border-radius: 0;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 0 4px 0 rgba(220, 220, 220, 0.15), 0 0px 2px 0 rgba(220, 220, 220, 0.6);
          box-shadow: 0 0 4px 0 rgba(220, 220, 220, 0.15), 0 0px 2px 0 rgba(220, 220, 220, 0.6);
}

.doc-content .entry-content p.img_p {
  margin: 1rem 0 2rem;
}

.doc-content .entry-content img.doublepic {
  max-width: calc(50% - 15px) !important;
  margin: 0px 5px 15px;
}

.doc-content .entry-content img.smallpic25 {
  width: 200px;
}

.doc-content .entry-content img.smallpic50 {
  width: 400px;
}

.doc-content .entry-content img.smallpic75 {
  width: 600px;
}

.doc-content .entry-content blockquote {
  font-size: 16px;
  font-style: normal;
  position: relative;
  padding: 1rem 1.8rem;
  background-color: rgba(238, 238, 238, 0.48);
  border-radius: 6px;
  margin-left: 0 !important;
  border: none;
  margin: 1.2rem 0;
}

.doc-content .entry-content blockquote > :last-child {
  margin-bottom: 0;
}

.doc-content .entry-content blockquote > p {
  color: rgba(13, 19, 26, 0.65) !important;
}

.doc-content .entry-content blockquote > p > strong {
  color: rgba(13, 19, 26, 0.65) !important;
}

.doc-content .entry-content .center {
  text-align: center;
}

.up_tag::after {
  font-size: 50% !important;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 12px;
  font-weight: 400;
  position: relative;
  top: -2px;
  line-height: 1;
  display: inline-block;
}

.blueblock {
  font-size: 16px;
  font-style: normal;
  position: relative;
  padding: 1.2rem 2rem;
  background-color: #E1EAFF;
  color: rgba(13, 19, 26, 0.65);
  border-radius: 6px;
  margin-left: 0 !important;
  border: none;
  margin: 1.2rem 0;
}

.yellowblock {
  font-size: 16px;
  font-style: normal;
  position: relative;
  padding: 1.2rem 2rem;
  background-color: #FCF4E9;
  color: rgba(13, 19, 26, 0.65);
  border-radius: 6px;
  margin-left: 0 !important;
  border: none;
  margin: 1.2rem 0;
}
/*# sourceMappingURL=blog_help_new.css.map */