@import url('https://fonts.loli.net/css?family=Noto+Sans+SC');



:root {
    --cli-text: rgba(13,19,26,0.8);
    --cli-text-weak: rgba(13,19,26,0.65);
    --cli-text-highlight: rgba(242, 152, 0, 1);
    --cli-headline: rgba(13,19,26,0.85);
    --cli-headline-weak: rgba(13,19,26,0.65);
    --cli-background: rgba(256, 256, 256, 1);
    --cli-blockquote: rgba(238, 238, 238, 0.48);
    --cli-code-bg: rgba(238, 238, 238, 0.48);
    --cli-action: #357bb3;
    --cli-action-active: #2a6496;
    --cli-action-block-border: 1px solid rgba(0,0,0,.05);
    --cli-action-block-hover-border: 1px solid rgba(0,0,0,.05);
    --cli-action-block-hover-bg: rgba(0,0,0,.05);
    --cli-img-border: 1px solid rgba(0,0,0,.05);
    --cli-img-bg: rgba(0,0,0,.02);
    --cli-img-hover-shadow: 0 0 8px 0 rgba(220, 220, 220, 0.15), 0 2px 4px 0 rgba(220, 220, 220, 0.6);
    --cli-tag-bg: #f5f5f5;
}


/*****************/
/*****  base  ****/
/*****************/

.wrapper-container.has_catalogue .site-main {
    width: 736px !important;
    max-width: 100%;
    margin: 0 auto !important;
    padding: 0;
    min-width: 0;
}

body {
    font-size: 16px !important;
}

body, h1, h2, h3, h4, h5, h6, code, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: -apple-system, "Pingfang SC", "Microsoft YaHei UI", "Microsoft YaHei", "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "STHeiti", "WenQuanYi Micro Hei", "sans-serif";
}

.doc-content .entry-header .entry-title {
    font-size: 36px;
    line-height: 64px;
    font-weight: 600;
    color: var(--cli-headline);
    padding: 5px 0 0;
    margin-bottom: 1.4rem;
    font-family: -apple-system, 'Pingfang SC', 'Noto Sans SC', 'Microsoft Yahei UI', 'Microsoft Yahei', "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "STHeiti", "WenQuanYi Micro Hei", sans-serif;
}

.entry-content :first-child {
    margin-top: 0px !important;
}

.doc-content .entry-content h1,
.doc-content .entry-content h2,
.doc-content .entry-content strong {
    font-family: -apple-system, 'Pingfang SC', 'Noto Sans SC', 'Microsoft Yahei UI', 'Microsoft Yahei', "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "STHeiti", "WenQuanYi Micro Hei", sans-serif;
}

.doc-content .entry-content h1 {
    font-size: 28px;
    font-weight: 600;
    color: var(--cli-headline);
    margin: 4rem 0 1.6rem;
    padding: 0;
    line-height: 34px;
    cursor: pointer;
}

/* .doc-content .entry-content h1:hover::before {
    content: '#';
    position: absolute;
    left: -24px;
    color: rgba(0, 0, 0, 0.45);
    transition: .5s;
} */

.doc-content .entry-content h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--cli-headline);
    margin: 3.4rem 0 1rem;
    padding: 0;
    line-height: 28px;
    cursor: pointer;
}

/* .doc-content .entry-content h2:hover::before {
    content: '#';
    position: absolute;
    left: -24px;
    color: rgba(0, 0, 0, 0.45);
    transition: .5s;
} */

.doc-content .entry-content h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--cli-headline);
    margin: 2rem 0 0rem;
    padding: 0;
    line-height: 22px;
    cursor: pointer;
}

.doc-content .entry-content h4 {
    font-size: 16px;
    font-weight: 500;
    color: var(--cli-headline);
    margin: 2rem 0 1rem;
    padding: 0;
    line-height: 22px;
    cursor: pointer;
}

.doc-content .entry-content h1 + h2 {
    margin-top: 2rem;
}

.doc-content .entry-content h2 + h3 {
    margin-top: 1.6rem;
}

.doc-content .entry-content h1 + p {
    margin-top: 1.4rem;
}

.doc-content .entry-content h2 + p,
.doc-content .entry-content h3 + p {
    margin-top: 1.2rem;
}

/* .doc-content .entry-content h1:hover,
.doc-content .entry-content h2:hover,
.doc-content .entry-content h3:hover,
.doc-content .entry-content h4:hover {
    content: '#';
    display: block;
    position: relative;
    width: 100%;
    height: 1px;
} */

.doc-content .entry-content p {
    font-size: 16px;
    line-height: 28px;
    margin: 0.4rem 0 0.8rem;
    padding: 0;
    color: var(--cli-text);
    letter-spacing: 1px;
}

.doc-content .entry-content p:first-child {
    margin-top: 0
}

.doc-content .entry-content strong {
    font-size: 98%;
    font-weight: 600;
    color: var(--cli-text);
    /* padding: 0 2px; */
}


/*****************/
/*****  link *****/
/*****************/

.doc-content .entry-content a {
    font-size: 16px;
    color: var(--cli-action);
    text-decoration: none;
    -webkit-text-decoration-style: none;
    text-decoration-style: none;
    cursor: pointer;
}

.doc-content .entry-content a:hover {
    color: var(--cli-action-active);
    text-decoration: underline;
}

.doc-content .entry-content a.wordpressPdf {
    font-weight: 500;
    padding-left: 20px
}
  
.doc-content .entry-content a.wordpressPdf:before {
    content: '';
    background-image: url(https://blogcdnimg.clewm.net/pics/2022/01/PDF-deep-rKDo1r.png);
    background-size: 18px 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -2px;
    margin-top: 7px;
}
  
.doc-content .entry-content a.wordpressWord {
    font-weight: 500;
    padding-left: 20px
}
  
.doc-content .entry-content a.wordpressWord:before {
    content: '';
    background-image: url(https://blogcdnimg.clewm.net/pics/2022/01/Word-deep-MKBRKa.png);
    background-size: 18px 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -2px;
    margin-top: 7px;
}

.doc-content .entry-content a.wordpressExcel {
    font-weight: 500;
    padding-left: 20px
}

.doc-content .entry-content a.wordpressExcel:before {
    content: '';
    background-image: url(https://blogcdnimg.clewm.net/pics/2022/01/EXCEL-deep-pedziD.png);
    background-size: 18px 18px;
    position: absolute;
    width: 18px;
    height: 18px;
    left: -2px;
    margin-top: 7px;
}

.doc-content .entry-content a.blocklink {
    border: var(--cli-action-block-border);
    border-radius: 6px;
    padding: 0.5rem 1rem;
}


/*****************/
/*****  list *****/
/*****************/

.doc-content .entry-content ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    color: var(--cli-text);
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
    -webkit-margin-start: 0px;
    -moz-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    -moz-margin-end: 0px;
    margin-inline-end: 0px;
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
    padding-inline-start: 20px
}
  
.doc-content .entry-content ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    color: var(--cli-text);
    margin-block-start: 1em;
    -webkit-margin-after: 1em;
    margin-block-end: 1em;
    -webkit-margin-start: 0px;
    -moz-margin-start: 0px;
    margin-inline-start: 0px;
    -webkit-margin-end: 0px;
    -moz-margin-end: 0px;
    margin-inline-end: 0px;
    -webkit-padding-start: 20px;
    -moz-padding-start: 20px;
    padding-inline-start: 20px
}

.doc-content .entry-content li {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 1.2rem;
    padding: 0;
    color: var(--cli-text);
    letter-spacing: 1px;
}

.doc-content .entry-content ul>li::marker {
    color: var(--cli-text);
    font-size: 8px;
    line-height: 28px;
}
  
.wordpress-article-box .wordpress_article_info_box ul>li::before {
    position: absolute;
    content: '';
    left: -19px;
    top: 12px;
    top: calc(1em - 4px);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #666;
}

.doc-content .entry-content ol,
.doc-content .entry-content ul {
    margin: 16px 0;
    font-size: 16px;
}
  
.doc-content .entry-content ul li,
.doc-content .entry-content ol li {
    margin: 8px 0;
    left: 0
}
  
.doc-content .entry-content li+li {
    margin-top: 2px
}
  
.doc-content .entry-content ol>li {
    list-style-type: decimal
}
  
.doc-content .entry-content ul>li {
    list-style-type: disc
}
  
.doc-content .entry-content ul>li>ul>li {
    list-style-type: circle
}
  
.doc-content .entry-content ul>li>ul>li>ul>li {
    list-style-type: square
}
  
.doc-content .entry-content ol>li {
    list-style-type: decimal
}
  
.doc-content .entry-content ul>li {
    list-style-type: disc
}
  
.doc-content .entry-content ul>li p,
.doc-content .entry-content ol>li p {
    margin-bottom: 0
}
  
.doc-content .entry-content ul>li>ul>li {
    list-style-type: circle
}
  
.doc-content .entry-content ul>li>ul>li>ul>li {
    list-style-type: square
}


/*****************/
/*****  code *****/
/*****************/

/* .doc-content .entry-content code {
    font-size: 16px;
    font-weight: normal;
    color: var(--cli-text);
    background: var(--cli-code-bg);
    padding: 2px 6px;
    font-size: 100%;
    margin: 0;
}   灰色底块 */

/* .doc-content .entry-content code {
    font-size: 16px;
    font-weight: normal;
    color: var(--cli-text);
    background: none;
    padding: 0;
    font-size: 100%;
    margin: 2px;
    box-shadow: inset 0 -4px 0 0 rgba(248,184,100,0.3);
    border-radius: 0 !important;
}   橙色下划线 */

.doc-content .entry-content code {
    font-size: 98%;
    font-weight: 600;
    color: var(--cli-text);
    background: none;
    padding: 0;
    margin: 0;
    font-family: -apple-system, 'Pingfang SC', 'Noto Sans SC', 'Microsoft Yahei UI', 'Microsoft Yahei', "Hiragino Sans GB", "Helvetica Neue", "Helvetica", "STHeiti", "WenQuanYi Micro Hei", sans-serif;
}  /* 加粗颜色 */

.doc-content .entry-content tt {
    border-radius: 6px;
    font-size: 96%;
    background: #f9f9f9;
    display: inline;
    vertical-align: bottom;
    line-height: 26px
}


/*****************/
/***** table *****/
/*****************/
  
.doc-content .entry-content table {
    font-size: 16px;
    margin: 20px 0px;
    color: var(--cli-text);
}

.doc-content .entry-content table>strong {
    color: var(--cli-text);
}

.doc-content .entry-content table th {
    background: #DBEEF3;
    font-weight: 500;
    color: var(--cli-text);
    line-height: 2;
}


/*****************/
/*****  img  *****/
/*****************/

.doc-content .entry-content img {
    border: var(--cli-img-border);
    /* background: var(--cli-img-bg); */
    border-radius: 6px;
    transition: .5s;
}

.doc-content .entry-content img:hover {
    box-shadow: var(--cli-img-hover-shadow);
    transition: .5s;
}

.doc-content .entry-content video {
    border: var(--cli-img-border);
    border-radius: 6px;
    transition: .5s;
}

.doc-content .entry-content p.img_p {
    margin: 1rem 0 2rem;
}

.doc-content .entry-content img.doublepic {
    max-width: calc(50% - 15px) !important;
    margin: 0px 5px 15px;
}

/* .doc-content .entry-content p:first-child img {
    margin-top: 12px;
    margin-bottom: 32px;
} */

.doc-content .entry-content img.smallpic25 {
    width: 200px
}
  
.doc-content .entry-content img.smallpic50 {
    width: 400px
}
  
.doc-content .entry-content img.smallpic75 {
    width: 600px
}


/*****************/
/** blockquote  **/
/*****************/

.doc-content .entry-content blockquote {
    font-size: 16px;
    font-style: normal;
    position: relative;
    padding: 1.8rem 2rem;
    background-color: var(--cli-blockquote);
    border-radius: 6px;
    margin-left: 0 !important;
    border: none;
    margin: 1.2rem 0;
}

.doc-content .entry-content blockquote>:last-child {
    margin-bottom: 0
}

.doc-content .entry-content blockquote>p {
    color: var(--cli-text-weak) !important;
}


/*****************/
/***** other *****/
/*****************/

.doc-content .entry-content .center {
    text-align: center;
}


/*****************/
/** update_tag ***/
/*****************/

.up_tag::after {
    font-size: 50% !important;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: 12px;
    font-weight: 400;
    position: relative;
    top: -2px;
    line-height: 1;
    display: inline-block;
}
  
h1.tag_pc::after {
    content: 'PC端';
    background: var(--cli-tag-bg);
    color: var(--cli-text-weak);
}
  
h1.tag_bug::after {
    content: 'bug修复';
    background: var(--cli-tag-bg);
    color: var(--cli-text-weak);
}
  
h1.tag_mina::after {
    content: '小程序';
    background: var(--cli-tag-bg);
    color: var(--cli-text-weak);
}
  
h1.tag_help::after {
    content: '帮助中心';
    background: var(--cli-tag-bg);
    color: var(--cli-text-weak);
}
  
h1.tag_wxwork::after {
    content: '企业微信';
    background: var(--cli-tag-bg);
    color: var(--cli-text-weak);
}


/*****************/
/**** remove *****/
/*****************/

.blueblock {
    padding: 16px;
    border-radius: 6px;
    background: #E1EAFF;
    color: #333;
    line-height: 1.8;
    margin-bottom: 0px;
    font-size: 16px;
}
  
  .yellowblock {
    padding: 16px;
    border-radius: 6px;
    background: #FCF4E9;
    color: #333;
    line-height: 1.8;
    margin-bottom: 0px;
    font-size: 16px;
}